<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>encVox v0.1</title>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="lib/socket.io.js"></script>
    <script src="lib/jquery-3.2.1.min.js"></script>
    <script src="lib/jsencrypt.min.js"></script>
    <script src="lib/forge.all.min.js"></script>
    <script src="js/client.js"></script>
    <script>if (window.module) module = window.module;</script>
</head>
<body>
    <h2>Settings</h2>
</body>
</html>
