.settings-button {
  position: absolute;
  border-radius: 15px;
  padding: 4px;
  border: 1px solid #9E9E9E;
  background-color: #9E9E9E;
}

.settings-main {
  bottom: 45px;
  right: 10px;
  padding: 4px 6px;
}

.settings-connection {
  bottom: 45px;
  right: 39px;
}

.settings-information {
  padding: 4px 8px;
  bottom: 45px;
  right: 66px;
}